<h2>Login</h2>
<form class="pure-form pure-form-aligned" id="login" method="post" action="/login">
  <div class="pure-control-group">
    <label for="email">Email address</label>
    <input name="user[email]" type="email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="pure-control-group">
    <label for="password">Password</label>
    <input name="user[password]" type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <button type="submit" class="pure-button pure-button-primary">Log in</button>
</form>