h2 {
  color: red;
  text-align: center;
  font-size: 50pt;
}

p {
  color: red;
  text-align: center;
  font-size: 30pt;
}

img {
  width: 15%;
  height: auto;
  margin-left: 50px;
  border-radius: 5px;
}

video#bgvid { 
    position: fixed;
    top: 80%;
    left: 50%;
    min-width: 50%;
    min-height: 50%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(/images/test.jpg) no-repeat;
    background-size: cover; 
}

video {
  width: 70%;
  height: auto;
  margin-left: 150px;
}

