<h2>Edit Video</h2>
<form class="pure-form pure-form-aligned" action="/videos/<%= @video.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <fieldset>
    <div class="pure-control-group">
      <label for="video[video_name]">Video Name</label>
      <input name="video[video_name]" placeholder="Video Name" value="<%= @video.video_name %>">
    </div>
    <div class="pure-control-group">
      <label for="video[description]">Description</label>
      <textarea class="textedit" name="video[description]" placeholder="Description"><%= @video.description %></textarea>
    </div>
    <div class="pure-controls">
      <button type="submit" class="pure-button">Edit Video</button>
    </div>
  </fieldset>
</form>

<form action="/videos/<%= @video.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <div class="pure-controls">
    <button class="pure-button">Delete Video</button>
  </div>
</form>

