<h2>All Videos Feed</h2>
<ul class="media-list">
  <% @videos.each do |video| %>
    <li class="media">
     <div class="media-left">
       <a href="/videos/<%= video.id %>">
        <% if video.url %>
          <video controls>
            <source src="<%= video.url.url %>" type="video/mp4">
          </video>
        <% end %>                     
        </a>
     </div>
     <div class="media-body">
       <a href="/videos/<%= video.id %>">
         <h4 class="media-heading"><%= video.video_name %></h4>
       </a>
     </div>
    </li>
  <% end %>
</ul>