<h2 class="videoname"><%= @video.video_name %></h2>
<div class="center">
  <video controls>
    <source class="pure-img" src="<%= @video.url.url %>" type="video/mp4">
    </video>
    <br>
    <div class="pure-control-group">
      <p class="userdes"><%= @video.description %></p>
    </div>


    <h5>Comments</h5>
    <div class="commentdiv">
      <ul>
        <% @video.comments.each do |comment| %>
        <li><p class="usercomment"><i class="fa fa-comment"></i><%= comment.comment %></p></li>
        <% end %>
      </ul>
    </div>
  </div>