<h2 class="home">Speak!</h2>
<p class="home1">Tell your story!</p>


<!-- <div>
<video autoplay loop>
  <source src="/videos/shortcut.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>
</div> -->

<video autoplay loop poster="/images/wdiproject2.jpg" id="bgvid">
    <source src="/videos/speak-background.webm" type="video/webm">
    <source src="/videos/speak-background.mp4" type="video/mp4">
</video>

