<h2>Splash</h2>
<p>This is awesome!</p>


<!-- <div>
<video autoplay loop>
  <source src="/videos/shortcut.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>
</div> -->

<video autoplay loop poster="/images/test.jpg" id="bgvid">
    <source src="/videos/shortcut.webm" type="video/webm">
    <source src="/videos/shortcut.mp4" type="video/mp4">
</video>